body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

}

textarea {
  width: 1160px;
  height: 200px;
  resize: none;
  outline:none;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 4px;
}

.keyboard{
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  width: 1190px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.textarrea{
  position: relative;
  z-index: 10;
}

.key{
  position: relative;
  z-index: 10;
  width: 68px;
  height: 68px;
  background-color: #353230;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.3s;
}
.light-key {
  position: absolute;
  z-index: 8;
  border-radius: 50%;
  background-color: #AA1F53;
  box-shadow: 0 0 5px 10px #AA1F53;
}
.key_active{
  background-color: #fff !important;
  color:#CE6C84;
  transform: scale(0.8);
}
.backspace{
  background-color: #181411;
}
.tab, .caps, .del{
  background-color: #181411;
  width: 107px;
  font-size: 20px;
}
.enter {
  background-color: #AA1F53;
  width: 185px;
  font-size: 20px;
}
.shift{
  background-color: #181411;
  width: 146px;
  font-size: 20px;
}
.space {
  width: 536px;
  font-size: 20px;
}
.ctrl, .win, .alt{
  background-color: #181411;
  font-size: 20px;
}

@keyframes key-press {
  from{
    transform: scale(1);
    opacity: 0.8;
  }
  to{
    transform: scale(5);
    opacity: 0;
  }
}


.scale{
  animation-name: key-press;
  animation-duration: 0.4s;
}
